<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sashqua.wowser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.FootballApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TeamSelectionActivity"
            android:label="@string/title_activity_team_selection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.StartNoTeamActivity"
            android:label="StartNoTeamActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".NetService"
            android:exported="false" />

        <activity
            android:name=".activities.FutureMainActivity"
            android:label="@string/title_activity_future_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:name=".content.FootballContentProvider"
            android:authorities="com.sashqua.wowser.dafootball.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
    </application>

</manifest>